{% extends 'base.html' %}

{% block body %}
  

      <div class="container">
        <form action="/" method='POST'>
            <div class="mb-3">
              <label for="title" class="form-label">Todo Title</label>
              <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Description</label>
              <input type="text" name="desc" class="form-control" id="desc">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
      <div class="container">
        {% if allTodo|length==0 %}
        <div class="alert alert-danger m-3" role="alert">
          No record Found!
        </div>
        {% else %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Sno</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">DateTime</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for todo in allTodo %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{todo.title}}</td>
              <td>{{todo.desc}}</td>
              <td>{{todo.DateTime}}</td>
              <td>
                <a href="/update/{{todo.sno}}"><button type="button" class="btn btn-outline-secondary">Update</button></a>
                <a href="/delete/{{todo.sno}}"><button type="button" class="btn btn-outline-secondary">Delete</button></a>
              </td>
            </tr>
            {% endfor %}
            
           
          </tbody>
        </table>
        {% endif %}
        
      </div>
      {% endblock body %}